
.img{
  
   display: block;
   margin-right: 30px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  
}



  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .section {
      margin-left: 0;
      padding-top: 50px;
    }
    
  }
  
  @media screen and (min-width: 768px) {
    main {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }
  
    .header {
      height: calc(var(--header-height) + 1rem);
      padding-left: calc(var(--nav-width) + 2rem);
    }
  
    .sidebar {
      left: 0;
      padding: 1rem 0 0 0;
      cursor: context-menu;
    }
  
    .show {
      width: calc(var(--header-height) + 156px);
    }
  
    .space-toggle {
      padding-left: calc(var(--nav-width) + 188px);
    }
    .img {
      max-width: 100%;
      height: auto;
      display: block;
      
    }
  }